### gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.settings/
.apt_generated
.classpath
.factorypath
.project
.recommenders
.settings
.springBeans
bin/
codes/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jar
*.sw?
*.gz
rebel.xml
*#
*~
.#*
.*.md.html

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
log.*/

### maven ###
target/
*.war
*.ear
*.tar
#*.zip
*.tar.gz
pom.xml.versionsBackup
dependency-reduced-pom.xml
manifest.yml
target
MANIFEST.MF
.flattened-pom.xml

### logs ####
/logs/
*.log
overridedb.*
transaction-logs
secrets.yml

### temp ignore ###
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

### system ignore ###
.DS_Store
Thumbs.db
Servers
.metadata
upload
gen_code

### node ###
node_modules
/server/nacos-server/data
/server/nacos-server/logs
!/libs/*.jar

.fastRequest
*.http
*.json
/build
/code
_site/
activemq-data
bin
build
build.log
dump.rdb
interpolated*.xml
lib/