<!doctype html>
<html>
<head>
</head>
<body>
<form action="${request.contextPath}/simple/new/form" class="form-horizontal " data-toggle="validation"
      data-widget='{"onkeyup": false}'
      id="ajaxForm" method="post" theme="simple">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="simple-name">Demo名称</label>
                <div class="col-sm-10">
                    <input class="form-control" data-rules='{"required":true}' id="simple-name" name="name"
                           placeholder="请输入Demo名称."
                           type="text"/>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="simple-text">Demo描述</label>
                <div class="col-sm-10">
		            	<textarea class="form-control" cols="60" data-rules='{"required":true,"stringMaxLength":200}'
                                  id="simple-text"
                                  name="text"
                                  placeholder="请输入Demo相关简述." rows="2"/>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>